﻿@model FoodRecipeMVC.Models.Comment

@{
    ViewBag.Title = "AddComment";
}
<h2>Add Comment</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Comment</legend>
         <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubmitedFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubmitedFrom)
            @Html.ValidationMessageFor(model => model.SubmitedFrom)
        </div>
        <p>
            <input type="submit" value="Add comment" />
        </p>
    </fieldset>
}


