﻿@model IEnumerable<FoodRecipeMVC.Models.RecipeDetails>

@{
    ViewBag.Title = "";
}
  @using (Html.BeginForm())
  {   
     
<fieldset class="fieldset7">
 <h2>The Newest Recipes in category @ViewBag.KindOfRecipe </h2>
    <ul id="category">
        @foreach (var recipe in Model)
        {
            <li> 
       
                <a href="@Url.Action("Details", new { RDid = recipe.RDId })">
                  <img alt="@recipe.RDId" src="@recipe.ImageUrl" width="50px" height="50px" />
                    @recipe.Name
                </a>
            </li>
        }
    </ul>
</fieldset>
  }