﻿@model IEnumerable<FoodRecipeMVC.Models.RecipeDetails>

@{
    ViewBag.Title = "";
}
<script src="@Url.Content("~/Scripts/jquery.jquery-1.3.2.min.js")" type="text/javascript"></script>

  <script type="text/javascript">
      $(function () {

          var imgs = [
                '../Content/1.jpg',
                '../Content/2.jpg',
                '../Content/3.jpg',
                '../Content/4.jpg',
                '../Content/5.jpg',
                '../Content/6.jpg',
                '../Content/7.jpg'];
          var cnt = imgs.length;

          var $imageSlide = $('img[id$=imageSlide]');
          // set the image control to the last image
          $imageSlide.attr('src', imgs[cnt - 1]);

          setInterval(Slider, 4500);

          function Slider() {
              $imageSlide.fadeOut("slow", function () {
                  $(this).attr('src', imgs[(imgs.length++) % cnt])
                    .fadeIn("slow");
              });
          }
      });
  
    </script>
    
    
 @{Html.RenderAction("RecipeMenu", "Default1");}

  <img class= "right1" id = "imageSlide" alt = "image" height="350" width="850" runat="server" src="~/Content/1.jpg"/>
<table style="width: 100%;">
    <tr>
        <td>
          @{Html.RenderAction("BrowseTop10inRecipe", "Default1");}

        </td>
        <td>
           <div class="fieldset6">
 <h2>Choose Recipe</h2>
    <ul id="category">
        @foreach (var recipe in Model)
        {
            <li>
                <a href="@Url.Action("Details", new { RDid = recipe.RDId })">
                   <img alt="@recipe.RDId" src="@recipe.ImageUrl" width="50px" height="50px" />
                  
                    @recipe.Name
                </a>
            </li>
        }
    </ul>
</div>
        </td>
    </tr>
   
</table>
 
   