﻿@model FoodRecipeMVC.Models.RecipeDetails

@{
    ViewBag.Title = "Create";
}
@{Html.RenderAction("RecipeMenu", "Default1");}
<div class="fieldset2">
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

 @using (Html.BeginForm("Create", "Default1", FormMethod.Post, new { @encType = "multipart/form-data" }))
 {     @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add New Recipe</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>       
        <div class="editor-label">Choose What Kind Of Recipe</div>
        <div class="editor-field">
            @Html.DropDownList("RId", string.Empty)
            @Html.ValidationMessageFor(model => model.Recipe.RId)
        </div>
        <div class="editor-label">Add Picture</div>
        
         @FileUpload.GetHtml(initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, includeFormTag: false, uploadText: "image")
        <div class="editor-label">
            @Html.LabelFor(model => model.WhatWeNeed)
        </div>
        <div class="editor-field">
        @Html.TextAreaFor(model => model.WhatWeNeed)
        @Html.ValidationMessageFor(model => model.WhatWeNeed)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.HowToMade)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.HowToMade)
            @Html.ValidationMessageFor(model => model.HowToMade)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FName)
            @Html.ValidationMessageFor(model => model.FName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LName)
            @Html.ValidationMessageFor(model => model.LName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
        <p>
            <input type="submit" value="Add Recipe" />
        </p>
    </fieldset>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>