﻿@model FoodRecipeMVC.Models.RecipeDetails
@using System.Web.Mvc
@{
    ViewBag.Title = "Details";
}

<h2></h2>
@{Html.RenderAction("RecipeMenu", "Default1");}
<div class="fieldset2">
<fieldset >
    <legend>Recipe Details</legend>
  
    <img  class="right1" alt="@Model.Name" src="@Model.ImageUrl" height="250" width="250" />
     
    <div>               
    <div class="namer">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">WHAT WE NEED</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WhatWeNeed)
    </div>
    <div class="display-label">HOW TO MADE</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HowToMade)
    </div>

    <div class="display-label">SUBMITTED ON</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
    <div class="display-label">SUBMITTED BY</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FName)
        @Html.DisplayFor(model => model.LName)
        @Html.DisplayFor(model => model.City)
    </div>
    </div> 
</fieldset>
 @{Html.RenderAction("RecipeComment", "Default1");}
 @{Html.RenderAction("AddComment", "Default1");}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
</div>