﻿@model IEnumerable<FoodRecipeMVC.Models.Recipe>

@{
    ViewBag.Title = "IndexImage";
}

<fieldset class ="fieldset4">ecipes
<h3>Recipe Collection</h3>
<ul id="category1">
    @foreach (var Recipe in Model)
    {
        <li>
         <a href="@Url.Action("Browse", new { KindOfRecipe=Recipe.KindOfRecipe})">
                    <img alt="@Recipe.KindOfRecipe" src="@Recipe.Image" width="130px" height="130px" />
                    <br /><span>@Recipe.KindOfRecipe</span>
                </a>
       
       </li>
    }
</ul>
</fieldset>
