﻿@model IEnumerable<FoodRecipeMVC.Models.Recipe>

@{
    ViewBag.Title = "RecipeMenu";
}
<fieldset class="fieldset1">
<h3>Recipe Collection</h3>
<ul id="category">
    @foreach  (var item in Model) 
    {
        <li>@Html.ActionLink(item.KindOfRecipe, "Browse", "Default1",
                 new { KindOfRecipe = item.KindOfRecipe }, null)<br /><br />
        </li>
    }
</ul>
</fieldset>