﻿@model IEnumerable<FoodRecipeMVC.Models.Comment>

@{
    ViewBag.Title = "RecipeComment";
}

<h2>Recipe Comments</h2>
 <ul>
    @foreach (var item in Model)
    {
  <li>
      <span>@item.Description</span>
      <br />
      <span>@item.SubmitedFrom</span>
      <span>@item.SubmitedOn</span>
      <br />
      <br />
   </li>
    }
  </ul>
       


