﻿@model IEnumerable<FoodRecipeMVC.Models.RecipeDetails>

@{
    ViewBag.Title = "SearchIndex";
}

<fieldset >

<p>
    @using (Html.BeginForm()){   
         <p>Choose kind of recipe: @Html.DropDownList("KindOf", "All")  
           <br />Recipe name: @Html.TextBox("searchName")  
         <input type="submit" value="Search" /></p>
        }
</p>

 <ul id="category1">
        @foreach (var recipe in Model)
        {
            <li>
                <a href="@Url.Action("Details", new { RDid = recipe.RDId })">
                  <img alt="@recipe.RDId" src="@recipe.ImageUrl" width="150px" height="150px" />
                  <br />  @recipe.Name
                </a>
            </li>
        }
    </ul>
</fieldset>