﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}
body 
{
    background-color:Orange;
   
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    
    margin: 0;
    padding: 0;
   
    
    }

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    font-style:oblique;
    font-family:Vrinda;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
 
    
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: rgb(250,240,240);
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    height: 2000px;
    
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#category
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    text-align: left;
}
ul#category li
{
   
    list-style:none;
    text-decoration:none;
     border-bottom-style:solid;
    border-bottom-color: Gray;
    border-bottom-width:thin;
}
ul#category li a
{
    color:Black;
    background-color:transparent;
    width:25px;
    font-size:15px;
    text-decoration:none;
   
}
ul#category li a:hover 
{
    color:Red;
    text-decoration:none;
    
    
    
}

ul#category li a:active 
{
    color:Red;
    text-decoration: none;
}

ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position:relative;
    margin: 0;
    text-align: right;
    
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color:Red;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: rgb(250,240,240);
    color:Red;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color:#a6e2a6;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

.fieldset1 {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    min-width:100px;
   width:150px;
    margin: 0 0 1.5em 0;
    float:left;
   
      background-color: rgb(255,255,255);
}
.fieldset2 {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    min-width:100px;
    width:800px;
    margin: 0 0 1.5em 0;
      background-color: rgb(255,255,255);
    float:right;
}
.fieldset5 {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    width:300px;
    min-width:100px;
    margin-top:-50px;
      background-color: rgb(255,255,255);
     
}
.fieldset3 {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    width:350px;
    min-width:100px;
     margin: 0 0 1.5em 0;
    float:left;
    clear:right;
     background-color: rgb(255,255,255);
}
.fieldset4 {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
   width:430px;
   margin-top:50px;
      background-color: rgb(255,255,255);
      
      
}
.fieldset7 {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
   width:430px;
 
      background-color: rgb(255,255,255);
      
      
}
.fieldset6 {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
   width:450px;
   min-width:100px;
   
      background-color: rgb(255,255,255);
     
    
      
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
    
    clear:both
    
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
    font-size:15px;
}
.namer
{
    font-size:20px;
}
.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
    font-size:15px;
    color:Orange;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
.right1
{
    
    float:right;
}
.slideshow
    {
        margin: auto;
    }
    .slideshow img
    {
        padding-left: 20px;
        padding-top: 2px;
        background-color: #fff;
        display: block;
    }


ul#category1
{
	list-style: none;
	
	
	margin-left: 8px;
	font-size: 17px;
}

ul#category1 li
{
	height: 130px;
	width: 100px;
	float: left;
	margin: 40px;
	text-align: center;
}

ul#category1 li a, ul#category1 li .button
{
	font-size: 13px;
	float: left;
}
ul#category1 li a span:hover 
{
    color:Red;
    text-decoration:none;
    
    
    
}

ul#category1 li a span:active 
{
    color:Red;
    text-decoration: none;
}
ul#category1 li a span
{
	color: #9b9993;
	text-decoration: underline;
	font-size:20px;
}
