﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/jquery.jquery-1.3.2.min.js")" type="text/javascript"></script>

  <script type="text/javascript">
      $(function () {

          var imgs = [
                '../Content/1.jpg',
                '../Content/2.jpg',
                '../Content/3.jpg',
                '../Content/4.jpg',
                '../Content/5.jpg',
                '../Content/6.jpg',
                '../Content/7.jpg'];
          var cnt = imgs.length;

          var $imageSlide = $('img[id$=imageSlide]');
          // set the image control to the last image
          $imageSlide.attr('src', imgs[cnt - 1]);

          setInterval(Slider, 4500);

          function Slider() {
              $imageSlide.fadeOut("slow", function () {
                  $(this).attr('src', imgs[(imgs.length++) % cnt])
                    .fadeIn("slow");
              });
          }
      });
  
    </script>


      


 
   
</head>
<body>
         
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>The Best COOKBOOK</h1>
          
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
   <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("HOME", "Index", "Default1")</li>
                    <li>@Html.ActionLink("SEND RECIPE", "Create", "Default1")</li>
                    <li>@Html.ActionLink("SEARCH RECIPE", "SearchIndex", "Default1")</li>
               
                </ul>
            </div>
        </div>
     @*  @{Html.RenderAction("RecipeMenu", "Default1");}
          *@   
         <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        Made by Silvija Arsova
        </div>
    </div>
</body>
</html>
